* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, sans-serif;
  background-image: url("../img/bg1.jpg");
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  height: 60px;
}
.logo {
  margin: 15px;
  float: left;
}
nav ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 20px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#logout {
  padding: 10px;
  border-radius: 15px;
  background-color: blue;
  color: white;
}
#logout:hover {
  background-color: greenyellow;
}
main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}
/* Tambahkan pada akhir file style.css */
.container {
  padding: 20px;
}

.left-content {
  float: left;
  width: 600px;
  height: 500px;
}
#about {
  height: 550px;
  background-color: #fff;
}
#services {
  height: 550px;
  background-color: #fff;
}
#contact {
  height: 550px;
  background-color: #fff;
}
